{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
    <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Nom produit</th>
        <th>Prix unitaire</th>
        <th>Date fabrication</th>
        <th>Catégorie</th>
        <th>Statut</th>
    </thead>
    <tbody>
    {% for prdt in prdts %}
        <tr>
        <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.refProd }}</a></td>
        <td>{{ prdt.intituleProd }} </td>
        <td>{{ prdt.prixUnitaireProd }} </td>
        <td>{{ prdt.dateFabrication }} </td>
        <td>{{ prdt.categorie }} </td>
        <td>{{ prdt.statut }} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'crt-prdt' %}">Créer un nouveau produit</a>
{% endblock %}